{% extends "mails/base.html.twig" %}

{% block email_content %}

<div
    style="color:black;font-family:Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;line-height:1.5;padding-top:10px;padding-right:40px;padding-bottom:10px;padding-left:40px;">
    <div class="txtTinyMce-wrapper"
        style="line-height: 1.5; font-size: 12px; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; color: black; mso-line-height-alt: 18px;">
        <p
            style=" text-align: center; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; mso-line-height-alt: 23px; margin: 0;">
            <span style="color: #4c7031; font-weight: 600;font-size: 25px;line-height: 37px;">
                Bonjour
                <b>{{ firstName }}</b>
            </span>
            <br><br>
            <span style="color: #474242; font-size: 15px;">
                Vous avez demandé à réinitialiser votre mot de passe sur thetiptop.
                Si vous n'êtes pas à l'origine de cette demande, ignorez ce mail.
                Ou contactez-nous à l'adresse suivante :
                <a href="mailto:noreply@dsp-archiwebf22-eb-we-fh.fr">noreply@dsp-archiwebf22-eb-we-fh.fr</a>
                <br><br>
                Ce mail contient un lien qui vous permettra de réinitialiser votre mot de passe.
                Ce dernier est valable
                {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                <span>
                    <a href="{{ url('app_reset_password', {'token': resetToken.token}) }}"
                        style="color: #4c7031;font-weight: 600;font-size: 14px;"> Réinitialisez votre mot de passe</a>
                </span>
            </span>
            <br><br>

        </p>
        </p>
    </div>
</div>{% endblock %}