#home{
    section{
        margin-top: 15px;
    }
    #cover-section{
        background-image: url("../../public/images/home/green-tea.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 721px;
        width: 100vw;
        .text-container{
            opacity: 0.9;
            border-radius: 30px;
        }
    }

    #gifts-section{
        .gifts{
            .gift{
                img{
                    width: 100%;
                    height: 200px;
                    object-fit: contain;
                }
            }
        }
    }
}