#home{
    #cover-section{
        background-image: url("../../public/images/home/green-tea.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 721px;
        width: 100vw;
    }
}