.main-container {
    padding-right: 7vw;
    height: calc(100vh - 200px);
    overflow: auto;
    margin-top: 19px;

    h1 {
        padding-bottom: 30px;
        padding-top:40px;
    }

    h4 {
        padding-bottom: 20px; 
        padding-top: 20px;
        font-weight: 600;
    }

    label {
        color: rgba(0, 0, 0, 0.6);
    }

    ul {
        list-style: none;
        padding: 0;
    }
}

@media (max-width: 900px) {
    .main-container {
        height: calc(100vh - 250px);
    }
}
