<div class="container">
    <footer class="d-flex flex-wrap footer-wrapper py-2 border-top">
        <p class="mb-0 text-muted text-center text-md-start">Copyright {{ 'now'|date('Y') }} © ThéTipTop-Projet Etudiant Fictif.</p>
        <ul class="nav justify-content-center justify-content-md-end">
            <li class="nav-item nav-item-custom"><a href="{{ path('mentionsLegales') }}" class="nav-link px-2 text-muted">Mentions légales</a></li>
            <li class="nav-item nav-item-custom"><a href="{{ path('CGU') }}" class="nav-link px-2 text-muted">CGU</a></li>
            <li class="nav-item nav-item-custom"><a href="#" class="nav-link px-2 text-muted">FAQ</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">A propos</a></li>
        </ul>
    </footer>
</div>