{% extends 'base.html.twig' %}

{% block title %}
Accueil
{% endblock %}



{% block body %}
<div class="line"></div>
<div class="wrapper">
 
  <main role="main">
    <section class="sec-intro" role="section">
      
      <h1> Notre Histoire!</h1>
    </section>
    <section class="sec-boxes" role="section">
      <adrticle class="box">
       
        <p>ThéTipTop est une société ayant pour activité la promotion de gammes de thés de
                    très grande qualité avec
                    des mélanges signatures de l’entreprise, des thés détox, des thés blancs, des thés légumes,
                    infusions, etc.
                    L’ensemble des thés sont bios et Handmades</p>
      </adrticle>
      <adrticle class="box">
        <h1> Thé 100% Homme made</h1>
        <p>/////////.</p>
       
      </adrticle>
      <adrticle class="box">
        <h1>Certifié Biologique</h1>
        <p>///////.</p>
       
      </adrticle>
      <adrticle class="box">
        <h1>100% Vegan</h1>
        <p>//////.</p>
        
      
    </section>
  </main>
</div>
<footer>
 

</footer>
<div class="line"></div>




{% endblock %}

