{% extends 'base.html.twig' %}

{% block title %}
Accueil
{% endblock %}



{% block body %}
<div class="line"></div>
<div class="wrapper">
 
  <main role="main">
    <section class="sec-intro" role="section">
      
      <h1> Notre Histoire!</h1>
    </section>
    <section class="sec-boxes" role="section">
      <adrticle class="box">
       
        <p>En fait, tout commence par la rencontre d'Aria et Luna lors d'un voyage en Asie. Là-bas, nous partageons une passion commune, le thé et le bonheur, ainsi qu'une même quête pour découvrir tous les différents thés d'Asie. A la fin du voyage ils avaient une parfaite connaissance des grands thés d'Asie.
Les fondateurs de Tea Tip Top se rendent régulièrement dans les endroits les plus reculés d'Asie pour garantir une qualité, une provenance et une rareté supérieures des thés et des décoctions. 
 L'atelier de fabrication est situé à Longjumeau (91) et tous les produits sont fabriqués et assemblés à la main. Aujourd'hui, Te Tip Top propose quatre assortiments de thés (Détox, Bien-être, Gourmet et Premium) et un assortiment Infusion. Tous les thés sont Bio, Bio Européen, Ecocert, Fairtrade/Max Havelar, Faits à la Main, 100% Français, dans le respect de l'environnement et des savoir-faire locaux.
Sur la belle Avenue du Monde à Paris, la boutique Av. dispose d'un "bar à thé" où vous pourrez déguster et acheter des thés spécifiques et des infusions le midi et en journée.
      </adrticle>
      <adrticle class="box">
        <h1> Thé 100% Homme made</h1>
        <p>/////////.</p>
       
      </adrticle>
      <adrticle class="box">
        <h1>Certifié Biologique</h1>
        <p>///////.</p>
       
      </adrticle>
      <adrticle class="box">
        <h1>100% Vegan</h1>
        <p>//////.</p>
        
      
    </section>
  </main>
</div>
<footer>
 

</footer>
<div class="line"></div>




{% endblock %}

