{% extends 'base.html.twig' %}

{% block title %}
    Conditions générales d'utilisation
{% endblock %}

{% block body %}

    <div class="container main-container">
        <h4>1. Objet et durée du jeu-concours</h4>
        <p> Le présent jeu-concours organisé par la société ThéTipTop a pour objectif de promouvoir ses produits et de fidéliser
            sa clientèle. Le jeu-concours est ouvert du [date de début] au [date de fin]. Le règlement complet est déposé chez Maître
            Arnaud Rick, huissier de justice.</p>
    </div>

{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}