{% extends 'base.html.twig' %}

{% block title %}
    Conditions générales d'utilisation
{% endblock %}

{% block body %}

    <div class="container main-container">
        <h4>1. Objet et durée du jeu-concours</h4>
        <p> Le présent jeu-concours organisé par la société ThéTipTop a pour objectif de promouvoir ses produits et de fidéliser
            sa clientèle. Le jeu-concours est ouvert du [date de début] au [date de fin]. Le règlement complet est déposé chez Maître
            Arnaud Rick, huissier de justice.</p>

        <h4>2. Conditions de participation</h4>
        <p> Le jeu-concours est ouvert à toute personne physique majeure résidant en France métropolitaine. Les participants doivent
            justifier d'un ticket de caisse ou d'une facture d'un montant supérieur ou égal à 49€. Les employés de la société ThéTipTop
            ne sont pas autorisés à participer.</p>

        <h4>3. Modalités de participation</h4>
        <p> Les participants peuvent se rendre sur le site du jeu-concours et entrer le numéro à 10 chiffres présent sur leur ticket
            de caisse ou leur facture. Ils peuvent également s'inscrire au jeu-concours via leur compte Google/Facebook ou en remplissant
            un formulaire d'inscription. Les participants peuvent jouer autant de fois qu'ils le souhaitent, mais ne peuvent gagner qu'une fois.</p>

        <h4>4. Dotations et gains</h4>
        100% des tickets sont gagnants. Les dotations et gains sont les suivants :

        <li>60% des tickets offrent un infuseur à thé</li>
        <li>20% des tickets offrent une boite de 100g d'un thé détox ou d'infusion</li>
        <li>10% des tickets offrent une boite de 100g d'un thé signature</li>
        <li>6% des tickets offrent un coffret découverte d'une valeur de 39€</li>
        <li>4% des tickets offrent un coffret découverte d'une valeur de 69€</li>

        <p> À l'issue du jeu-concours, un tirage au sort sera effectué parmi tous les participants pour désigner le gagnant d'un an de thé d'une valeur de 360€.
            Les chances de gagner ne sont pas augmentées par le nombre de participations.</p>

        <h4>5. Remise des gains</h4>
        <p> Les participants peuvent réclamer leur gain en magasin ou en ligne dans un délai de 30 jours après la fin du jeu-concours.
            Les employés en boutique pourront visualiser les gains d'un client afin de lui fournir son gain et de noter le gain comme reçu.</p>

        <h4>6. Protection des données personnelles</h4>
        <p> La société ThéTipTop s'engage à protéger les données personnelles des participants conformément à la réglementation en vigueur.
            Les données récoltées pourront être utilisées à des fins d'emailing.</p>

        <h4>7. Responsabilités</h4>
        <p> La société ThéTipTop décline toute responsabilité en cas de dysfonctionnement du site du jeu-concours. La société ThéTipTop ne saurait
            être tenue pour responsable si le gagnant ne peut pas être contacté en raison de données personnelles invalides ou erronées fournies par le participant.</p>

        <h4>8. Acceptation du règlement</h4>
        <p> La participation au jeu-concours implique l'acceptation pleine et entière du présent règlement. La société ThéTipTop se réserve
            le droit de modifier le règlement à tout moment en fonction des nécessités du jeu-concours.</p>
    </div>

{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}