{% extends 'base.html.twig' %}

{% block title %}
    Conditions générales d'utilisation
{% endblock %}

{% block body %}

    <div class="container main-container">
        <h4>1. Objet et durée du jeu-concours</h4>
        <p> Le présent jeu-concours organisé par la société ThéTipTop a pour objectif de promouvoir ses produits et de fidéliser
            sa clientèle. Le jeu-concours est ouvert du [date de début] au [date de fin]. Le règlement complet est déposé chez Maître
            Arnaud Rick, huissier de justice.</p>

        <h4>2. Conditions de participation</h4>
        <p> Le jeu-concours est ouvert à toute personne physique majeure résidant en France métropolitaine. Les participants doivent
            justifier d'un ticket de caisse ou d'une facture d'un montant supérieur ou égal à 49€. Les employés de la société ThéTipTop
            ne sont pas autorisés à participer.</p>

        <h4>3. Modalités de participation</h4>
        <p> Les participants peuvent se rendre sur le site du jeu-concours et entrer le numéro à 10 chiffres présent sur leur ticket
            de caisse ou leur facture. Ils peuvent également s'inscrire au jeu-concours via leur compte Google/Facebook ou en remplissant
            un formulaire d'inscription. Les participants peuvent jouer autant de fois qu'ils le souhaitent, mais ne peuvent gagner qu'une fois.</p>

    </div>

{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}