{% extends 'base.html.twig' %}

{% block title %}
Mentions légales
{% endblock %}

{% block body %}
  
  <main>
    <section>
      <h1 style="padding-bottom: 30px; padding-top:15px"> Mentions Légales </h1>
      <p>La poursuite de la navigation sur ce site vaut acceptation sans réserve des dispositions et conditions d’utilisation qui suivent.</p>
      <p>La version actuellement en ligne de ces conditions d’utilisation est la seule opposable pendant toute la durée d’utilisation du site et jusqu’à ce qu’une nouvelle version la remplace.</p>
    </section>
    <div>
      <h4>Article 1 – Mentions légales</h4>
      <p>1.1 Site (ci-après « le site ») :</p>
      <p>ThéTipTop</p>
      <p>1.2 Éditeur (ci-après « l’éditeur ») : </p>
      <p>Agence ThéTipTop au capital de 150 000€</p>
      <p>dont le siège social est situé : 18 rue Léon Frot, 75011 Paris</p>
      <p>représentée par Mr. Eric Bourdon, en sa qualité de Président</p>
      <p>immatriculée au RCS B 658 179 203 Paris.</p>
      <p>n° de téléphone : 0650987157</p>
      <p>adresse mail : contact@theTipTop.com</p>
      <h4>Article 2 – Accès au site</h4>
      <p>L’accès au site et son utilisation sont réservés à un usage strictement personnel. Vous vous engagez à ne pas</p>
      <p>utiliser ce site et les informations ou données qui y figurent à des fins commerciales, politiques, publicitaires</p>
      <p>et pour toute forme de sollicitation commerciale et notamment l’envoi de courriers électroniques non</p>
      <p>sollicités.</p>
      <h4>Article 3 – Contenu du site</h4>
      <p>Toutes les marques, photographies, textes, commentaires, illustrations, images animées ou non, séquences</p>
      <p>vidéo, sons, ainsi que toutes les applications informatiques qui pourraient être utilisées pour faire</p>
      <p>fonctionner ce site et plus généralement tous les éléments reproduits ou utilisés sur le site sont protégés</p>
      <p>par les lois en vigueur au titre de la propriété intellectuelle.</p>
      <p>Ils sont la propriété pleine et entière de l’éditeur ou de ses partenaires. Toute reproduction, représentation,</p>
      <p>utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ces éléments, y compris les</p>
      <p>applications informatiques, sans l’accord préalable et écrit de l’éditeur, sont strictement interdites. Le fait</p>
      <p>pour l’éditeur de ne pas engager de procédure dès la prise de connaissance de ces utilisations non</p>
      <p>autorisées ne vaut pas acceptation desdites utilisations et renonciation aux poursuites.</p>
      <h4>Article 4 – Gestion du site</h4>
      <p>Pour la bonne gestion du site, l’éditeur pourra à tout moment :</p>
      <p>–  suspendre, interrompre ou limiter l’accès à tout ou partie du site, réserver l’accès au site, ou à certaines</p>
      <p>parties du site, à une catégorie déterminée d’internautes ;</p>
      <p>–  supprimer toute information pouvant en perturber le fonctionnement ou entrant en contravention avec</p>
      <p>les lois nationales ou internationales ;</p>
      <p>–  suspendre le site afin de procéder à des mises à jour.</p>
      <h4>Article 5 – Responsabilités</h4>
      <p>La responsabilité de l’éditeur ne peut être engagée en cas de défaillance, panne, difficulté ou interruption</p>
      <p>de fonctionnement, empêchant l’accès au site ou à une de ses fonctionnalités.</p>
      <p>Le matériel de connexion au site que vous utilisez est sous votre entière responsabilité. Vous devez prendre</p>
      <p>toutes les mesures appropriées pour protéger votre matériel et vos propres données notamment</p>
      <p>d’attaques virales par Internet. Vous êtes par ailleurs seul responsable des sites et données que vous</p>
      <p>consultez.</p>
      <p>L’éditeur ne pourra être tenu responsable en cas de poursuites judiciaires à votre encontre :</p>
      <p>–  du fait de l’usage du site ou de tout service accessible via Internet ;</p>
      <p>–  du fait du non-respect par vous des présentes conditions générales.</p>
      <p>L’éditeur n’est pas responsable des dommages causés à vous-même, à des tiers et/ou à votre équipement</p>
      <p>du fait de votre connexion ou de votre utilisation du site et vous renoncez à toute action contre lui de ce</p>
      <p>fait.</p>
      <p>Si l’éditeur venait à faire l’objet d’une procédure amiable ou judiciaire en raison de votre utilisation du site,</p>
      <p>il pourra se retourner contre vous pour obtenir l’indemnisation de tous les préjudices, sommes,</p>
      <p>condamnations et frais qui pourraient découler de cette procédure.</p>
      <h4>Article 6 – Liens hypertextes</h4>
      <p>La mise en place par les utilisateurs de tous liens hypertextes vers tout ou partie du site est autorisée par</p>
      <p>l’éditeur. Tout lien devra être retiré sur simple demande de l’éditeur.</p>
      <p>Toute information accessible via un lien vers d’autres sites n’est pas publiée par l’éditeur. L’éditeur ne</p>
      <p>dispose d’aucun droit sur le contenu présent dans ledit lien.</p>
      <h4>Article 7 – Photographies et représentation des produits</h4>
      <p>Les photographies de produits, accompagnant leur description, ne sont pas contractuelles et n’engagent</p>
      <p>pas l’éditeur.</p>
    </div>
    
  </main>

</body>
{% endblock %}

{% block javascripts %}
<script>

</script>
{% endblock %}