{% extends 'base.html.twig' %}

{% block title %}
Mentions légales
{% endblock %}

{% block body %}
  
  <main>
    <section>
      <h1 style="padding-bottom: 30px; padding-top:15px"> Mentions Légales </h1>
      <p>La poursuite de la navigation sur ce site vaut acceptation sans réserve des dispositions et conditions d’utilisation qui suivent.</p>
      <p>La version actuellement en ligne de ces conditions d’utilisation est la seule opposable pendant toute la durée d’utilisation du site et jusqu’à ce qu’une nouvelle version la remplace.</p>
    </section>
    
    
    
  </main>

</body>
{% endblock %}

{% block javascripts %}
<script>

</script>
{% endblock %}