{% extends 'base.html.twig' %}

{% block title %}
Mentions légales
{% endblock %}

{% block body %}
  
  <main>
    <section>
      <h1 style="padding-bottom: 30px; padding-top:15px"> Mentions Légales </h1>
      <p>La poursuite de la navigation sur ce site vaut acceptation sans réserve des dispositions et conditions d’utilisation qui suivent.</p>
      <p>La version actuellement en ligne de ces conditions d’utilisation est la seule opposable pendant toute la durée d’utilisation du site et jusqu’à ce qu’une nouvelle version la remplace.</p>
    </section>
    <div>
      <h4>Article 1 – Mentions légales</h4>
      <p>1.1 Site (ci-après « le site ») :</p>
      <p>ThéTipTop</p>
      <p>1.2 Éditeur (ci-après « l’éditeur ») : </p>
      <p>Agence ThéTipTop au capital de 150 000€</p>
      <p>dont le siège social est situé : 18 rue Léon Frot, 75011 Paris</p>
      <p>représentée par Mr. Eric Bourdon, en sa qualité de Président</p>
      <p>immatriculée au RCS B 658 179 203 Paris.</p>
      <p>n° de téléphone : 0650987157</p>
      <p>adresse mail : contact@theTipTop.com</p>
    </div>
    
  </main>

</body>
{% endblock %}

{% block javascripts %}
<script>

</script>
{% endblock %}