{% extends 'base.html.twig' %}

{% block title %}
Mentions légales
{% endblock %}

{% block body %}
  
  <main>
    <section>
      <h1 style="padding-bottom: 30px; padding-top:15px"> Mentions Légales </h1>
    </section>
    
    
    
  </main>

</body>
{% endblock %}

{% block javascripts %}
<script>

</script>
{% endblock %}