{% extends 'base.html.twig' %}

{% block title %}
Mentions légales
{% endblock %}

{% block body %}
<div><h1 class="tite">piw</h1></div>
{% endblock %}

{% block javascripts %}
<script>

</script>
{% endblock %}